.back {
    width: 100%;
    background-image: url(''); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }





.menuList{
    margin-top: 0;
    padding: 10px;
    list-style-type: none;
   
    flex-direction: column;
    height: auto;
 
   
  }
  
  .menuList li  {
    margin-top: 6px;
    color: black;
    padding: 10px;
    list-style: none;
 
    
  }
 
  


  